
body {
    font-family: Outfit, Arial, sans-serif;
    margin: 0;
}

h2 {
    font-weight: 400;
    color: var(--color-blanco);
    font-size: 50px;
    padding-top: 40px;
}

h3 {
    margin: 0;
    line-height: 1.2em;
    margin-bottom: 0.75em;
}

p {
    margin: 0;
    line-height: 1.6em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.proyectos-padding {
    padding-bottom: 70px;
}

.proyectos-container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

.proyectos-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    align-items: stretch;
}

.proyectos-col {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.proyectos-card {
    background-color: var(--color-blanco);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.proyectos-card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.proyectos-card-text {
    padding: 30px;
}

    .proyectos-card-text h3 {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        padding-top: 30px;
    }

    .proyectos-card-text p {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
    }

.brand img {
    width: auto;
    min-height: 65px;
    max-height: 80px !important;
}

.botones li i {
    padding-right: 2px;
}

.botones li a {
    color: #444;
}

    .botones li a:hover {
        color: #4eabf9;
    }

.barraNav {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    background-color: #f5f5f5;
}

.footer {
    background-color: #243A63;
    color: white;
    padding: 60px 20px 60px;
    position: relative;
    overflow: hidden;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footerBotones {
    text-decoration: none;
    color: white;
}

    .footerBotones i {
        padding-right: 5px;
    }

.imagen-footer {
    height: 90px;
    padding-bottom: 20px;
    padding-left: 5px;
}

.infor {
    padding-left: 5px;
    padding-bottom: 5px;
    display: block;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

    .infor:hover {
        text-decoration: underline;
        color: #ffffff;
    }

.titulo-footer {
    padding-bottom: 28px;
    padding-top: 28px;
    margin: 0 !important;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 24px;
}

.nosotros-footer {
    text-align: justify;
    padding-left: 0 20px !important;
}

.cont-perso {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}

.footer .col-3,
.footer .col-6 {
    padding-left: 30px;
    padding-right: 30px;
}

.boton-icono {
    padding-bottom: 10px;
    display: block;
    transition: all 0.2s ease-in-out;
}

    .boton-icono i {
        background-color: #243A63;
        border-radius: 50%;
        border: 2px solid #4e5d85;
        color: #fff;
        padding: 10px;
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: background 0.2s, border 0.2s;
        margin: 0 10px 0 0;
        font-size: 16px;
    }

.carousel-item img {
    height: 600px;
    object-fit: cover;
}

.folded-panels {
    display: flex;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
    position: relative;
    bottom: 100px;
}

.panel {
    flex: 1;
    padding: 40px 20px;
    background-color: #29a9ff;
    color: white;
    text-align: center;
    position: relative;
    clip-path: polygon(0 0, 100% 5%, 100% 95%, 0% 100%);
    transition: transform 0.3s ease;
}

    .panel:nth-child(2n) {
        clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 95%);
    }

    .panel h3 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .panel p {
        font-size: 14px;
    }

    .panel:hover {
        transform: scale(1.03);
        z-index: 1;
    }

.menu-icono {
    font-size: 80px;
    padding: 30px 0 50px 0;
}

.titulo-linea {
    display: flex;
    align-items: center;
    gap: 15px;
}

    .titulo-linea h3 {
        font-weight: bold;
        margin: 0;
        white-space: nowrap;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .titulo-linea::after {
        content: "";
        flex-grow: 1;
        height: 1px;
        background-color: #444;
        opacity: 0.6;
    }

.titulo-general {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
}

.titulo-reduc {
    width: 700px;
}

#slogan {
    font-size: 20px;
    font-weight: 400;
    color: #444;
    margin-top: 10px;
    margin-bottom: 30px;
}

.noticia {
    display: flex;
    align-items: center;
}

.imagen-noticia {
    height: 80px;
    width: auto;
    object-fit: cover;
    border-radius: 3px;
}

.noticias-titu {
    text-align: justify;
    font-size: 16px;
    font-weight: 600;
}

    .noticias-titu:hover {
        text-decoration: underline;
        color: #4eabf9;
    }

.comentario-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
    padding: 20px;
    transition: transform 0.2s ease;
    height: 100%;
}

    .comentario-card:hover {
        transform: translateY(-5px);
    }

.comentario-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.avatar-fake {
    width: 48px;
    height: 48px;
    background-color: #243A63;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    text-transform: uppercase;
}

.nombre-paciente {
    font-weight: 600;
    font-size: 16px;
    color: #243A63;
}

.sub-text {
    font-size: 13px;
    color: #777;
}

.comentario-text {
    font-style: italic;
    color: #444;
    font-size: 16px;
    line-height: 1.6;
}

.info-box {
    max-width: 350px;
    font-family: Arial, sans-serif;
    color: #333;
}

.section {
    border-top: 2px solid #ccc;
    padding-top: 10px;
    margin-top: 20px;
}

    .section h3 {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 0 10px 0;
    }

.hours-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

    .hours-table td {
        padding: 4px 0;
        vertical-align: top;
    }

        .hours-table td:first-child {
            font-weight: bold;
            text-transform: uppercase;
        }

p {
    font-size: 14px;
    line-height: 1.5;
}

strong {
    font-weight: bold;
}

.service-card {
    border: 1px solid #cfd8dc;
    padding: 20px;
    height: 100%;
    transition: transform 0.2s;
    background-color: #fff;
}

    .service-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    .service-card img {
        width: 70px;
        height: auto;
    }

.btn-primary {
    background-color: #2196f3;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
}

    .btn-primary:hover {
        background-color: #1976d2;
    }

.menu-icono2 {
    font-size: 80px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    width: 100%;
    max-width: 360px;
    text-align: center;
}

    .login-container h2 {
        margin-bottom: 24px;
        font-size: 24px;
        color: #333;
    }

.input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
}

    .input:focus {
        border-color: #2196f3;
        outline: none;
    }

.btn1 {
    width: 100%;
    padding: 12px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn1:hover {
        background-color: #1976d2;
    }

.signup-link {
    margin-top: 16px;
    font-size: 13px;
}

    .signup-link a {
        color: #2196f3;
        text-decoration: none;
    }

        .signup-link a:hover {
            text-decoration: underline;
        }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.login-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.GridViewEstilo {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
}
.GridViewEstilo th {
        background-color: #007bff;
        color: white;
        padding: 10px;
        text-align: left;
        border: 1px solid #dee2e6;
}

    .GridViewEstilo td {
        padding: 10px;
        border: 1px solid #dee2e6;
    }

    .GridViewEstilo tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .GridViewEstilo tr:hover {
        background-color: #e2e6ea;
    }
 .parametros {
    width: 180px;
    font-weight: bold;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4); /* fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.overlayContent {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

    .overlayContent h2 {
        font-size: 18px;
        color: #333;
        margin-bottom: 15px;
    }

    .overlayContent img {
        width: 60px;
        display: block;
        margin: 0 auto;
    }